[submodule "ros2_socketcan"]
	path = ros2_socketcan
	url = https://github.com/autowarefoundation/ros2_socketcan.git
[submodule "Wato_Conti_Radar_Collab"]
	path = Wato_Conti_Radar_Collab
	url = https://github.com/WATonomous/Wato_Conti_Radar_Collab.git
[submodule "JetsonGPIO"]
	path = JetsonGPIO
	url = https://github.com/pjueon/JetsonGPIO.git
[submodule "rplidar_sdk"]
	path = rplidar_sdk
	url = https://github.com/Slamtec/rplidar_sdk.git
[submodule "threadtest"]
	path = threadtest
	url = https://github.com/jorionwen/threadtest.git
[submodule "RoboRTS"]
	path = RoboRTS
	url = https://github.com/RoboMaster/RoboRTS.git
[submodule "cyberdog_ros2"]
	path = cyberdog_ros2
	url = https://github.com/MiRoboticsLab/cyberdog_ros2.git
[submodule "opencv_cam"]
	path = opencv_cam
	url = https://github.com/clydemcqueen/opencv_cam.git
