[submodule "ros2_socketcan"]
	path = ros2_socketcan
	url = https://github.com/autowarefoundation/ros2_socketcan.git
[submodule "Wato_Conti_Radar_Collab"]
	path = Wato_Conti_Radar_Collab
	url = https://github.com/WATonomous/Wato_Conti_Radar_Collab.git
[submodule "JetsonGPIO"]
	path = JetsonGPIO
	url = https://github.com/pjueon/JetsonGPIO.git
[submodule "rplidar_sdk"]
	path = rplidar_sdk
	url = https://github.com/Slamtec/rplidar_sdk.git
