[submodule "ros2_socketcan"]
	path = ros2_socketcan
	url = https://github.com/autowarefoundation/ros2_socketcan.git
[submodule "rplidar_ros"]
	path = rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
[submodule "sllidar_ros2"]
	path = sllidar_ros2
	url = https://github.com/Slamtec/sllidar_ros2.git
[submodule "Wato_Conti_Radar_Collab"]
	path = Wato_Conti_Radar_Collab
	url = https://github.com/WATonomous/Wato_Conti_Radar_Collab.git
[submodule "JetsonGPIO"]
	path = JetsonGPIO
	url = https://github.com/pjueon/JetsonGPIO.git
